@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>@Model.Name</h3>

<p>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.Name)</p>

@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }, new { @class = "btn" })
@Html.ActionLink("Delete", "Delete", new { id = Model.ClientId }, new { @class = "btn" })
